<div class="feeds-body nav-margin clearfix">
	<div class="center-block feeds-container">
		<ul class="feeds-image">
			<% @feeds.each do |photo_id, feed| %>
				<li>
					<p class="author-info">
						<%= image_tag image_url('anonymous.jpg'), :class => 'profile-small-image' %>
						&nbsp;<%= feed['user_name']%>
						<span class="datetime"><%= feed['created_at']%></span>
					</p>
					<%= image_tag "/photos/#{feed['photo_url']}", :class => 'img-responsive' %>

					<br>
					<ul class="comment-list">
						<% feed['comments'].each do |id, comment| %>
							<li>
								<span class="author-info"><%= comment[:username]%></span>
								<span class="message"><%= comment[:message]%></span>
							</li>
						<% end %>
					</ul>
					<br>
					<input type="text" name="comment" class="form-control comment" placeholder="Add a comment" id-photo="<%= photo_id%>">
					<br>
				</li>
			<% end %>
		</ul>
	</div>
</div>