<div class="profile-manage nav-margin clearfix">
	<div class="part-left">
		<%= render 'shared/left_navigation' %>
	</div>
	<div class="part-right">
    <h1>Change Password</h1>
    <%- model_class = User -%>
    <%= simple_form_for @user, :url => '/updatepassword' do |u| %>

      <% if params[:notice] %>
        <div class="alert alert-success alert-dismissible img-rounded" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= params[:notice]%>
        </div>
      <% end %>

      <% @user.errors.messages.each do |message| %>
        <p class="bg-danger img-rounded"><%= message.last.first %></p>
      <% end %>

      <%= u.input :oldpassword, label: 'Old password:' %>

      <%= u.input :password, label: 'New password:' %>

      <%= u.input :confirmpassword, label: 'New password confirmation' %>

      <%= u.button :submit, 'Change Password', :class => 'btn-success' %>

    <% end %>
	</div>
</div>